
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="flexgym-test"></script>
    <meta name="viewport" content="width=device-width" />
    <title>ChargeBee</title>
</head>
<body>
    <a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="basic-flex-plan">subscribe</a>
    <script>
    </script>
</body>
</html>
